body {
  font-family: verdana;
}

.title {
  position: absolute;
  left: 50%;
  top: 13%;
  transform: translate(-50%,-50%);
  font-size: 16pt;
  font-size: 4h;
  font-weight: 600;
}

.main-container {
  position: absolute;
  width: 60vw;
  height: width;
  max-width: 800px;
  max-height: 800px;
  align-items: center;
  left:50%;
  top:20%;
  transform: translate(-50%);
}

.connections-buttons {
  background-color: #edebcf;
  width: 22%;
  height: 7vw;
  max-height: 85px;
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 16px;
  font-size: 1.5vw;
  font-weight: bold;
  margin: 1%;
  margin-left: 1.5%;
  border: none;
  border-radius: 10%;
}

.connections-buttons:hover {
  background-color: rgb(210, 210, 179);
  cursor: pointer;
}

.completed-connection {
  width: 100%;
  height: 7vw;
  max-height: 85px;
  padding-bottom: 2%;
  text-align: center;
  font-size: 100%;
  line-height: 5vw;
}

.a {
  background-color: green;
}
.b {
  background-color: yellow;
}
.c {
  background-color: blue;
}
.d {
  background-color: indigo;
}

.chances-remaining {
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: 3%;
  font-weight: 500;
}

.button-container {
  display: inline-block;
  align-items: center;
  text-align: center;
  width:100%;
}

.check-button {
  display: inline-block;
  position: relative;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #2daa86;
  line-height: 1.15;
  font-size: 16px;
  font-size: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 48%;
  left:0%;
}
.check-button:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 4px #1de9b6;
}

.made-by {
  position: absolute;
  font-size: 10px;
  left: 50%;
  top: 98%;
  transform: translate(-50%);
}

.small {
  font-size: 60%;
  line-height: 0vw;
}